.swiper-slide {
    width: 34rem !important;
    height: 20rem !important;
    margin-right: 1.4rem !important;
    text-align: center;
    font-size: 1.3rem;
    background: #fff;
    border-radius: 1.25rem;
  }
  
  .swiper-slide video {
    border-radius: 1.25rem;
    object-fit: cover;
  }
  .swiper-slide .react-player__preview {
    border-radius: 1.25rem;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    object-fit: cover;
  }
  .swiper-3d .swiper-slide-shadow-left  , .swiper-slide-shadow-right{
    border-radius: 1.2rem !important;
  }

  @media (max-width: 1096px) {
    .swiper-slide {
      width: 30rem !important;
      height: 18rem !important;
    }
    .swiper-wrapper{
      margin-top: 1.7rem;
    }
}
  @media (max-width: 645px) {
    .swiper-slide {
      width: 77% !important;
      height: 50% !important;
    }
    .screenshots{
      height: 20rem;
    }
}